.about-lumbers {
  margin-bottom: rem(114);
  background: #e1efcd;
  padding: {
    top: rem(49);
  }
  h2 {
    margin-bottom: rem(30);
  }
}

.about-lumbers__container {
  background: #f1fbd8;
  .container {
    max-width: rem(1180);
  }
}

.about-lumbers__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: rem(32);
  font-weight: 500;
  padding-top: rem(46);
}

.about-lumbers__item {
  text-align: center;
  padding-bottom: rem(29);
}

.about-lumbers__img {
  padding: rem(25);
  margin-bottom: rem(30);
  min-height: rem(280);
  display: flex;
  position: relative;
  & > img {
    width: 100%;
  }
  &_no-padding {
    padding: 0;
  }
  &_medium {
    width: rem(227);
    height: rem(227);
    &:after {
      height: rem(227);
    }
  }
  &_small {
    width: rem(227);
    height: rem(227);
  }
  &_large {
    width: rem(280);
    height: rem(280);
    &:after {
      height: rem(280);
    }
  }
}

.about-lumbers__img_medium,
.about-lumbers__img_large {
  img {
    position: relative;
    z-index: 2;
  }
  &:after {
    content: '';
    background: #f1fbd8;
    border-radius: 50%;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
  }
}

.about-lumbers__line {
  position: absolute;
  bottom: 0;
  width: rem(418);
  left: rem(100);
  svg {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .about-lumbers {
    margin-bottom: rem(80);
  }
}

@media (max-width: 540px) {
  .about-lumbers__list {
    flex-direction: column;
  }
  .about-lumbers__img {
    min-height: 0;
  }
}
