.application {
  .button {
    padding: {
      left: rem(54);
      right: rem(54);
    }
    margin-bottom: 0;
    background: $bright-yellow;
  }
}

.application__container {
  border-top: 4px solid $green;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.application__form {
  padding: rem(120 60 100 0);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  width: 45%;
}

.application__img {
  padding: rem(130 41 99 48);
  width: 55%;
  background: url('../img/application-img.jpg') no-repeat;
  background-size: cover;
  text-align: right;
}

.application__text-container {
  font-size: rem(60);
  color: $yellow;
  font-weight: 500;
  letter-spacing: 0.6px;
  background: url('../img/yellow.svg') no-repeat;
  background-size: cover;
  padding: rem(32 45 29);
  margin-bottom: rem(119);
  text-align: left;
}
