.application {
  .button {
    padding: {
      left: rem(54);
      right: rem(54);
    }
    margin-bottom: 0;
    background: $bright-yellow;
    transition: background-color 250ms;
    &:hover, &:active, &:focus {
      background-color: $yellow;
    }
  }
}

.application__container {
  border-top: 4px solid $green;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

.application__form {
  padding: rem(120 60 100 20);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  width: 45%;
  max-width: rem(620);
}

.application__img {
  padding: rem(130 41 99 48);
  width: 55%;
  background: url('../img/application-img.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  text-align: right;
}

.application__text-container {
  font-size: rem(60);
  color: $yellow;
  font-weight: 500;
  letter-spacing: 0.6px;
  margin-bottom: rem(119);
  text-align: left;
  position: relative;
  img {
    width: 100%;
  }
}

.application__text {
  padding: {
    left: rem(54);
    right: rem(54);
  };
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  position: absolute;
}

@media (max-width: 1700px) {
  .application__text-container {
    font-size: rem(45);
  }
}

@media (max-width: 968px) {
  .application__text-container {
    font-size: rem(32);
  }
}

@media (max-width: 660px) {
  .application__container {
    flex-direction: column;
  }
  .application__form {
    max-width: rem(600);
    margin: 0 auto;
    padding: {
      left: 0;
      right: 0;
    };
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .application__img {
    width: 100%;
  }
  .application__text-container {
    font-size: rem(35);
    position: static;
    img {
      display: none;
    }
  }
  .application__text {
    position: static;
    transform: none;
  }
}
