.button {
  display: inline-block;
  border-radius: rem(10);
  font-size: rem(40);
  font-weight: 500;
  letter-spacing: 0.4px;
  color: #584a38;
  // box-shadow: rem(15 15 37 12) rgba(217, 255, 102, 0.58);
  padding: rem(20 34 12);
  background: rgba(255, 245, 104, 0.7);
  margin-bottom: rem(25);
}
