.button {
  display: inline-block;
  border-radius: rem(10);
  font-size: rem(40);
  font-weight: 500;
  letter-spacing: 0.4px;
  color: #584a38;
  // box-shadow: rem(15 15 37 12) rgba(217, 255, 102, 0.58);
  padding: rem(12 34 12);
  background: rgba(255, 245, 104, 0.7);
  margin-bottom: rem(25);
  position: relative;
  &:after {
    content: '';
    background: url('../img/button.png') no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 1;
    border-radius: rem(10);
  }
  span {
    position: relative;
    z-index: 2;
  }
}

.test-button {
  border: 2px solid $test-green;
  color: $test-green;
  font-size: rem(22);
  line-height: 1;
  font-weight: 500;
  padding: rem(10 19 10 16);
  border-radius: rem(10);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: border-color 250ms;
  &_next {
    flex-direction: row-reverse;
    .test-button__icon {
      margin-left: rem(24);
      transform: scale(-1);
    }
  }
  &_back {
    .test-button__icon {
      margin-right: rem(24);
    }
  }
  &:hover, &:active, &:focus {
    border-color: lighten($test-green, 20%);
  }
}

.test-button__icon {
  max-width: rem(15);
}

.button_with-icon {
  span {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  i {
    padding-right: rem(15);
  }
}
