.divider {
  width: 100%;
  height: rem(41);
  background: url('../img/patt_1.png') repeat-x;
}

.divider-block {
  height: rem(52);
  width: 100%;
  background: $green;
  margin-bottom: rem(63);
  position: relative;
  // &:after {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   width: 100%;
  //   background: url('../img/patt_2.png') repeat-x;
  // }
}
