.first-slide {
  background: gray;
  padding-top: rem(43);
  h1 {
    margin-bottom: rem(33);
    color: #fff;
  }
}

.first-slide__test-text {
  font-size: rem(54);
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.5px;
  text-align: right;
  margin-bottom: rem(34);
}

.first-slide__buttons {
  margin-bottom: rem(47);
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.first-slide__button {
  border-radius: rem(15);
  background: transparent;
  border: 2px solid #fff;
  padding: rem(13) rem(20) rem(14);
  min-width: rem(240);
  color: #fff;
  font-weight: 500;
  font-size: rem(22);
  letter-spacing: 0.2px;
  &:first-child {
    margin-bottom: rem(20);
  }
  &_gray-bg {
    background: #fff;
    color: $brown;
  }
}

.first-slide__test-block {
  padding: rem(30) rem(48) 0;
  border: {
    top: 2px solid #fff;
    left: 2px solid #fff;
    right: 2px solid #fff;
  }
}

.first-slide__title {
  font-size: rem(40);
  color: #fff;
	line-height: 1.25;
	letter-spacing: 0.4px;
	margin-bottom: rem(34);
	font-weight: 500;
	text-align: center;
}

.first-slide__test-btn-container {
  text-align: right;
}

.first-slide__test-btn {
  margin-bottom: rem(25);
}

.first-slide__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: {
    left: rem(-48);
    right: rem(-48);
  }
}

.first-slide__box {
  border: {
    top: 2px solid #fff;
    left: 2px solid #fff;
    right: 2px solid #fff;
  }
  min-width: rem(180);
  max-width: rem(180);
  height: rem(140);
  &:first-child {
    border-left: none;
  }
  &:last-child {
    border-right: none;
  }
}
