.first-slide {
  background: url('../img/first-slide-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  h1 {
    margin: {
      bottom: rem(20);
      left: rem(-60);
    }
    color: #fff;
  }
  .container {
    position: relative;
  }
}

.first-slide__test-text {
  font-size: rem(54);
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.5px;
  text-align: right;
  margin-bottom: rem(34);
}

.first-slide__buttons {
  padding-top: rem(43);
  margin-bottom: rem(38);
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.first-slide__button {
  border-radius: rem(15);
  background: transparent;
  border: 2px solid #fff;
  padding: rem(12) rem(20) rem(13);
  min-width: rem(240);
  color: #fff;
  font-weight: 500;
  font-size: rem(22);
  letter-spacing: 0.2px;
  &:first-child {
    margin-bottom: rem(16);
  }
  &_gray-bg {
    background: #fff;
    color: $brown;
  }
}

.first-slide__test-block {
  padding: rem(25) rem(48) 0;
  border: {
    top: 2px solid #fff;
    left: 2px solid #fff;
    right: 2px solid #fff;
  }
}

.first-slide__title {
  font-size: rem(40);
  color: #fff;
	line-height: 1.25;
	letter-spacing: 0.4px;
	margin-bottom: rem(34);
	font-weight: 500;
	text-align: center;
}

.first-slide__test-btn-container {
  text-align: right;
  margin-bottom: rem(15);
  .button {
    margin-bottom: 0;
  }
}

.first-slide__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: {
    left: rem(-31);
    right: rem(-31);
  }
}

.first-slide__box {
  border: {
    top: 2px solid #fff;
    left: 2px solid #fff;
    right: 2px solid #fff;
  }
  min-width: rem(170);
  max-width: rem(170);
  height: rem(140);
}

@media (max-width: 540px) {
  .first-slide__box {
    min-width: rem(130);
    max-width: rem(130);
    height: rem(110);
  }
  .first-slide {
    h1 {
      margin-left: 0;
      font-size: rem(28);
    }
  }
  .first-slide__test-text {
    font-size: 2.3rem;
  }
}
