.footer {
  background: url('../img/footer-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.footer__container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer__contacts {
  padding-right: rem(74);
}

.footer__logo {
  margin-bottom: rem(34);
}

.footer__social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__social-icon {
  padding: rem(6);
  border: 1px solid transparent;
  i {
    font-size: rem(25);
    opacity: 0.7;
  }
  &:hover, &:active, &:focus {
    border-color: rgba(255, 255, 255, 0.7);
  }
}

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: rem(86 83 146);
  width: 100%;
  position: relative;
  &:after, &:before {
    content: '';
    position: absolute;
    top: 0;
    background: url('../img/footer.png') no-repeat;
    background-size: cover;
    height: 100%;
    width: rem(14);
  }
  &:after {
    right: 0;
  }
  &:before {
    left: 0;
  }
}

.footer__col {
  width: 33.333%;
}

.footer__caption {
  font-weight: 500;
  font-size: rem(22);
  margin-bottom: rem(85);
}

.footer__item {
  font-size: rem(22);
  &:not(:last-child) {
    margin-bottom: rem(26);
  }
}

.footer__link {
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 250ms;
  &:hover, &:active, &:focus {
    border-bottom-color: #fff;
  }
}

@media (max-width: 1080px) {
  .footer__social-icon {
    i {
      font-size: inherit;
    }
  }
}

@media (max-width: 640px) {
  .footer__links {
    padding: {
      left: 0;
      right: 0;
    }
    &:after, &:before {
      display: none;
    }
  }
  .footer__contacts {
    padding-right: rem(20);
  }
}
