input {
  font-weight: 300;
  font-family: $main-font;
}

.form__item {
  width: 100%;
  &:not(:last-child) {
    margin-bottom: rem(38);
  }
  &_flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .checkbox {
      margin-right: rem(15);
    }
  }
}

.form__input {
  max-width: rem(540);
  width: 100%;
  border: 3px solid $green;
  border-radius: rem(10);
  padding: rem(24 37 28);
  font-size: rem(32);
  letter-spacing: 0.3px;
  text-align: center;
  -webkit-appearance: none;
  @include input-placeholder {
    color: $main-font-color;
    opacity: 1;
    transition: opacity 250ms;
  }
  &:focus {
    @include input-placeholder {
      opacity: 0;
    }
  }
  &_yellow-border {
    border-color: $yellow;
  }
}

.form_results {
  .form__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.form__icon {
  margin-right: rem(23);
  width: rem(41);
  height: rem(41);
}

.form__text {
  font-size: rem(28);
}

.form__descr {
  font-size: rem(18);
  font-weight: 500;
  padding: {
    bottom: rem(7);
    left: rem(20);
  };
  border-bottom: 1px solid $green;
  display: none;
  &.active {
    display: block;
  }
}

@media (max-width: 840px) {
  .form__input {
    font-size: rem(25);
  }
}

@media (max-width: 660px) {
  .form__input {
    max-width: none;
  }
}
