.logo {
  display: block;
  position: absolute;
  font-size: rem(13);
  color: $light-brown;
  top: 0;
  left: rem(-50);
  &_relative {
    position: relative;
  }
}

.logo__info {
  text-align: center;
  position: absolute;
  top: rem(105);
  left: rem(27);
}

@media (max-width: 1440px) {
  .test {
    .logo__info {
      top: rem(140);
      left: rem(48);
    }
  }
}

@media (max-width: 1180px) {
  .test {
    .logo {
      width: rem(200);
      left: 0;
    }
  }
}
