.main-page {
  .logo {
    left: rem(-95);
    &_relative {
      left: auto;
    }
  }
  .logo__icon {
    width: rem(218);
    img {
      width: 100%;
    }
  }
  .logo__info {
    color: #fff;
    top: rem(146);
    font-size: rem(18);
    width: 100%;
    left: 0;
  }
}

@media (max-width: 1530px) {
  .main-page {
    .logo {
      left: rem(-40);
    }
  }
}

@media (max-width: 1440px) {
  .main-page {
    .logo {
      left: rem(-95);
    }
  }
}

@media (max-width: 1080px) {
  .main-page {
    .logo {
      left: 0;
    }
    .logo__icon {
      width: rem(180);
    }
    .logo__info {
      font-size: rem(14);
      top: rem(120);
    }
  }
}

@media (max-width: 900px) {
  .main-page {
    .logo {
      left: rem(20);
    }
  }
}

@media (max-width: 640px) {
  .main-page {
    .footer__logo {
      left: 0;
    }
  }
}
