%icons-slick {
  display: block;
  width: 100%;
  height: 100%;
  background-position: 100%;
  color: #000;
  position: relative;
  z-index: 1;
}

.prices-slider {
  margin-bottom: rem(137);
}

.slick-list {
  margin: 0 rem(-14);
  position: relative;
  &:after {
    content: '';
    margin: {
      top: rem(11);
      bottom: rem(22);
    }
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.6);
    width: rem(150);
    border: {
      top: 6px solid #fff;
      bottom: 6px solid #fff;
      right: 20px solid #fff;
    }
  }
}

.slick-track {
  padding: {
    top: rem(15);
    bottom: rem(25);
  }
}

.slick-slide {
  padding: 0 rem(14);
  &:hover, &:active, &:focus {
    .prices-slider__content {
      border-color: transparent;
      box-shadow: rem(6 6 27) 0 rgba(233, 126, 88, 0.4);
    }
  }
}

.slick-prev {
  font-size: 0;
  left: rem(-45);
  &:before {
    content: '';
    background: url('../img/slick-arrow.svg') no-repeat;
    background-size: 100% 100%;
    @extend %icons-slick;
  }
}

.slick-next {
  font-size: 0;
  right: rem(-45);
  &:before {
    content: '';
    background: url('../img/slick-arrow.svg') no-repeat;
    background-size: 100% 100%;
    transform: scale(-1);
    @extend %icons-slick;
  }
}

.slick-arrow {
  width: rem(27);
  height: rem(41);
  top: 50%;
  background: #fff;
  position: absolute;
  cursor: pointer;
  transition: border-color 250ms;
  &:hover, &:active, &:focus {
    border-color: $orange;
  }
}


.prices-slider__content {
  cursor: pointer;
  border: 1px solid $orange;
  padding: rem(67) rem(28) rem(43);
  text-align: center;
  transition: all 250ms;
}

.prices-slider__img {
  max-width: rem(345);
  margin: 0 auto rem(17);
}

.prices-slider__caption {
  font-size: rem(32);
  font-weight: 500;
  color: $slider-brown;
  margin-bottom: rem(33);
  letter-spacing: 0.3px;
}

.prices-slider__descr {
  font-size: rem(28);
  color: $slider-brown;
  padding-bottom: rem(33);
  margin-bottom: rem(34);
  border-bottom: 2px solid $orange;
  letter-spacing: 0.3px;
}

.prices-slider__price {
  font-size: rem(42);
  font-weight: 500;
  color: $orange;
  letter-spacing: 0.4px;
}

@media (max-width: 968px) {
  .slick-next {
    right: 0;
  }
  .slick-prev {
    left: 0;
  }
}

@media (max-width: 640px) {
  .prices-slider {
    margin-bottom: rem(80);
  }
}
