.progress {
  border-radius: rem(10);
  border: 2px solid $test-green;
  position: relative;
  max-width: rem(217);
  min-width: rem(217);
  height: rem(40);
  margin: {
    top: rem(35);
    bottom: rem(86);
    left: rem(190);
  }
  background: linear-gradient(
    -45deg,
    #fff 0%,
    #fff 3%,
    $test-green 3%,
    $test-green 4%,
    #fff 4%,
    #fff 7%,
    $test-green 7%,
    $test-green 8%,
    #fff 8%,
    #fff 11%,
    $test-green 11%,
    $test-green 12%,
    #fff 12%,
    #fff 15%,
    $test-green 15%,
    $test-green 16%,
    #fff 16%,
    #fff 19%,
    $test-green 19%,
    $test-green 20%,
    #fff 20%,
    #fff 23%,
    $test-green 23%,
    $test-green 24%,
    #fff 24%,
    #fff 27%,
    $test-green 27%,
    $test-green 28%,
    #fff 28%,
    #fff 31%,
    $test-green 31%,
    $test-green 32%,
    #fff 32%,
    #fff 35%,
    $test-green 35%,
    $test-green 36%,
    #fff 36%,
    #fff 39%,
    $test-green 39%,
    $test-green 40%,
    #fff 40%,
    #fff 43%,
    $test-green 43%,
    $test-green 44%,
    #fff 44%,
    #fff 47%,
    $test-green 47%,
    $test-green 48%,
    #fff 48%,
    #fff 51%,
    $test-green 51%,
    $test-green 52%,
    #fff 52%,
    #fff 55%,
    $test-green 55%,
    $test-green 56%,
    #fff 56%,
    #fff 59%,
    $test-green 59%,
    $test-green 60%,
    #fff 60%,
    #fff 63%,
    $test-green 63%,
    $test-green 64%,
    #fff 64%,
    #fff 67%,
    $test-green 67%,
    $test-green 68%,
    #fff 68%,
    #fff 71%,
    $test-green 71%,
    $test-green 72%,
    #fff 72%,
    #fff 75%,
    $test-green 75%,
    $test-green 76%,
    #fff 76%,
    #fff 79%,
    $test-green 79%,
    $test-green 80%,
    #fff 80%,
    #fff 83%,
    $test-green 83%,
    $test-green 84%,
    #fff 84%,
    #fff 87%,
    $test-green 87%,
    $test-green 88%,
    #fff 88%,
    #fff 91%,
    $test-green 91%,
    $test-green 92%,
    #fff 92%,
    #fff 95%,
    $test-green 95%,
    $test-green 96%,
    #fff 96%,
    #fff 100%
  );
}

.progress__complete {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: rem(60);
  background: $test-green;
}

@media (max-width: 1180px) {
  .progress {
    margin-left: rem(300);
  }
}

@media (max-width: 640px) {
  .progress {
    margin-left: rem(250);
  }
}
