.progress {
  border-radius: rem(10);
  border: 2px solid $green;
  position: relative;
  max-width: rem(217);
  min-width: rem(217);
  height: rem(40);
  margin: {
    top: rem(35);
    bottom: rem(86);
    left: rem(190);
  }
  background: linear-gradient(
    -45deg,
    #fff 0%,
    #fff 3%,
    $green 3%,
    $green 4%,
    #fff 4%,
    #fff 7%,
    $green 7%,
    $green 8%,
    #fff 8%,
    #fff 11%,
    $green 11%,
    $green 12%,
    #fff 12%,
    #fff 15%,
    $green 15%,
    $green 16%,
    #fff 16%,
    #fff 19%,
    $green 19%,
    $green 20%,
    #fff 20%,
    #fff 23%,
    $green 23%,
    $green 24%,
    #fff 24%,
    #fff 27%,
    $green 27%,
    $green 28%,
    #fff 28%,
    #fff 31%,
    $green 31%,
    $green 32%,
    #fff 32%,
    #fff 35%,
    $green 35%,
    $green 36%,
    #fff 36%,
    #fff 39%,
    $green 39%,
    $green 40%,
    #fff 40%,
    #fff 43%,
    $green 43%,
    $green 44%,
    #fff 44%,
    #fff 47%,
    $green 47%,
    $green 48%,
    #fff 48%,
    #fff 51%,
    $green 51%,
    $green 52%,
    #fff 52%,
    #fff 55%,
    $green 55%,
    $green 56%,
    #fff 56%,
    #fff 59%,
    $green 59%,
    $green 60%,
    #fff 60%,
    #fff 63%,
    $green 63%,
    $green 64%,
    #fff 64%,
    #fff 67%,
    $green 67%,
    $green 68%,
    #fff 68%,
    #fff 71%,
    $green 71%,
    $green 72%,
    #fff 72%,
    #fff 75%,
    $green 75%,
    $green 76%,
    #fff 76%,
    #fff 79%,
    $green 79%,
    $green 80%,
    #fff 80%,
    #fff 83%,
    $green 83%,
    $green 84%,
    #fff 84%,
    #fff 87%,
    $green 87%,
    $green 88%,
    #fff 88%,
    #fff 91%,
    $green 91%,
    $green 92%,
    #fff 92%,
    #fff 95%,
    $green 95%,
    $green 96%,
    #fff 96%,
    #fff 100%
  );
}

.progress__complete {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: rem(60);
  background: $green;
}

@media (max-width: 1180px) {
  .progress {
    margin-left: rem(300);
  }
}

@media (max-width: 640px) {
  .progress {
    margin-left: rem(250);
  }
}
