.sub {
  margin-bottom: rem(120);
}

.sub__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: {
    left: rem(21);
    right: rem(21);
  };
}

.sub__text-block {
  font-size: rem(18);
  letter-spacing: 0.2px;
  line-height: 1.1;
  text-align: center;
  min-width: rem(166);
  max-width: rem(166);
  min-height: rem(80);
  background: #998675;
  color: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(50%);
    border: {
      left: rem(83) solid #998675;
      right: rem(83) solid #998675;
      bottom: rem(20) solid transparent;
      top: rem(20) solid transparent;
    }
  }
}

.sub__text {
  // padding-top: rem(16);
  padding-bottom: rem(10);
}

@media (max-width: 540px) {
  .sub__text-block {
    min-width: rem(100);
    max-width: rem(100);
    height: rem(60);
    font-size: rem(11);
    &:after {
      border: {
        left-width: rem(50);
        right-width: rem(50);
      }
    }
  }
}
