.technologies {
  margin-bottom: rem(244);
}

.technologies__divider {
  margin-bottom: rem(50);
}

.technologies__block {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  &_reverse {
    flex-direction: row-reverse;
    .technologies__img {
      margin-right: 0;
      &:after {
        right: 0;
        left: auto;
        width: rem(204);
      }
    }
    .technologies__descr {
      margin-right: rem(43);
    }
  }
  &:not(:last-child) {
    margin-bottom: rem(78);
  }
}

.technologies__img {
  max-width: rem(644);
  min-width: rem(644);
  height: rem(419);
  border: 4px solid $green;
  margin-right: rem(43);
  position: relative;
  cursor: pointer;
  &:hover, &:active, &:focus {
    &:after {
      width: 0;
    }
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    width: rem(330);
    height: 100%;
    background: $green;
    opacity: 0.5;
    transition: all 250ms;
  }
}

.technologies__caption {
  font-size: rem(32);
  font-weight: 500;
  margin-bottom: rem(65);
}

@media (max-width: 600px) {
  .technologies {
    margin-bottom: rem(80);
    p {
      margin-bottom: rem(20);
    }
  }
  .technologies__block {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    &_reverse {
      .technologies__img {
        margin: 0 auto;
      }
    }
  }
  .technologies__caption {
    margin-bottom: rem(30);
  }
  .technologies__img {
    margin: 0 auto;
    max-width: none;
    min-width: 0;
    width: 100%;
  }
}
