.test-fifth {
  .test__info {
    font-size: rem(36);
    font-weight: 500;
    margin-bottom: rem(52);
  }
  .test__info-text {
    max-width: none;
  }
  .progress__complete {
    width: rem(109);
  }
}

@media (max-width: 640px) {
  .test-fifth {
    .test__info {
      &:after, &:before {
        width: 100%;
      }
    }
  }
}
