.test {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: rem(96 0 105);
  color: $light-brown;
  position: relative;
  h1,
  h2 {
    margin-bottom: rem(45);
    font-size: rem(36);
    text-align: left;
  }
  .checkbox__text {
    font-size: rem(28);
  }
  .form__item {
    &:not(:last-child) {
      margin-bottom: rem(31);
    }
  }
}

.test__col {
  &:nth-child(2) {
    padding-right: rem(47);
  }
  &:last-child {
    max-width: rem(579);
    min-width: rem(579);
  }
  &_bordered {
    min-height: rem(800);
    position: relative;
    &:after {
      content: "";
      background: $green;
      height: 2px;
      position: absolute;
      width: 9999px;
      display: block;
      right: rem(46);
      bottom: 0;
    }
  }
}

.test__descr {
  border: 2px solid $green;
  padding: rem(35 22 21 35);
  margin-bottom: rem(39);
  min-height: rem(800);
  &_relative {
    position: relative;
    display: flex;
    align-items: flex-end;
  }
  &_flex {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    padding: {
      left: rem(62);
      right: rem(62);
    }
  }
  &_with-form {
    text-align: center;
    padding: {
      top: rem(97);
      bottom: 0;
    }
  }
  .test__form {
    margin-bottom: rem(97);
  }
}

.test__form {
  margin-bottom: rem(44);
  &_bordered {
    position: relative;
    padding-bottom: rem(46);
    &:after {
      content: "";
      background: $green;
      height: 2px;
      position: absolute;
      width: 9999px;
      display: block;
      right: 0;
      bottom: 0;
    }
  }
  &_without-margin {
    margin-bottom: 0;
  }
}

.test__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.test__info {
  font-size: rem(28);
  line-height: 1.14;
  padding: {
    top: rem(43);
    bottom: rem(39);
  }
  &_alt {
    font-size: rem(30);
    font-weight: 500;
    color: $green;
    border: 3px solid $green;
    padding: rem(20 25 31 16);
  }
  &_bordered {
    position: relative;
    &:before,
    &:after {
      content: "";
      background: $green;
      height: 2px;
      position: absolute;
      width: 9999px;
      display: block;
      right: 0;
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
  }
}

.test__info-text {
  max-width: rem(360);
}

.test__img {
  width: 100%;
  height: rem(423);
  background: gray;
  &_absolute {
    width: rem(755);
    position: absolute;
    top: rem(35);
    left: rem(35);
  }
}

.test__additional-info {
  margin-top: rem(26);
  p {
    line-height: 1.22;
    letter-spacing: 0.2px;
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }
  &_bordered {
    margin-bottom: rem(27);
    &:after {
      content: "";
      height: 2px;
      max-width: rem(440);
      width: 100%;
      background: $green;
      margin-top: rem(20);
      display: block;
    }
  }
}

.test__note {
  border: 1px solid $green;
  color: $green;
}

.test__text {
  margin-bottom: rem(25);
  font-size: rem(28);
}

.test__contact-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.test__contact-button {
  display: inline-block;
  border-radius: 10px;
  background: #fff;
  border: 2px solid $green;
  padding: rem(13) rem(20) rem(14);
  min-width: rem(300);
  width: auto;
  font-weight: 500;
  font-size: rem(26);
  letter-spacing: 0.3px;
  text-align: center;
  &_with-bg {
    border: none;
    background: $yellow;
  }
  &:not(:last-child) {
    margin-bottom: rem(34);
  }
  &:last-child {
    margin-bottom: rem(17);
  }
}

.test__content {
  font-size: rem(32);
  font-weight: 500;
  padding-bottom: rem(170);
}

.test__form-caption {
  font-size: rem(26);
  font-weight: 500;
  margin-bottom: rem(49);
}

.test__discount-caption {
  font-size: rem(40);
  font-weight: 500;
  margin-bottom: rem(43);
}

.test__discount-text {
  &_right {
    text-align: right;
  }
  &:first-child {
    margin-bottom: rem(30);
  }
}
