@import 'variables';
@import 'util';
@import 'mixins';

html {
	height: 100%;
	font: 300 #{18px}/#{1.2} $main-font;
}

body,
html {
	height: 100%;
	background: #fff;
	-webkit-font-smoothing: antialiased;
}

body {
	display: block;
	min-height: 100%;
	min-width: 375px;
	margin: 0;
	font: inherit;
	font-size: 100%;
	color: $main-font-color;
	background: #fff;
	-webkit-text-size-adjust: none;
}

* {
	box-sizing: border-box;
}

*:focus,
*:active {
	outline: none;
}

a {
	color: inherit;
	text-decoration: none;
	transition: all 250ms;
}

button {
	border: none;
	padding: 0;
	font-family: $main-font;
	color: inherit;
	cursor: pointer;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1 {
	font-size: rem(40);
	line-height: 1.25;
	letter-spacing: 0.4px;
	margin: 0;
	font-weight: 500;
	text-align: center;
}

h2 {
	font-size: rem(32);
	line-height: 1.25;
	letter-spacing: 0.3px;
	margin: 0 0 rem(30);
	font-weight: 500;
	text-align: center;
}

p {
	font-size: rem(18);
	line-height: 1.44;
	text-align: left;
	margin: 0;
	letter-spacing: 0.2px;
}

img {
	display: block;
	max-width: 100%;
}

.container {
	max-width: rem(1320);
	padding: 0 rem(20);
	margin: 0 auto;
}
//
// @media (min-width: 1600px) {
// 	html {
// 		font-size: 20px;
// 	}
// }
//
// @media (min-width: 2000px) {
// 	html {
// 		font-size: 24px;
// 	}
// }

@media (max-width: 1080px) {
	html {
		font-size: 12px;
	}
}

@media (max-width: 768px) {
	html {
		font-size: 10px;
	}
}

@import "components/first-slide";
@import "components/sub";
@import "components/about";
@import "components/divider";
@import "components/features";
@import "components/prices";
@import "components/prices-slider";
@import "components/technologies";
@import "components/application";
@import "components/form";
@import "components/checkbox";
@import "components/button";
@import "components/footer";
